.card {
   background-color: #2f2f2f !important;
   outline: 0;
   transition: all 0.3s;
   width: 250px;
}
.card-body {
   display: none;
}
.card:hover .card-body {
   display: block;
}

.card:hover {
   transform: scale(1.05);
}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
   .card {
      width: 200px;
   }
}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
   .card {
      width: 150px;
   }
}
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   .card {
      width: 100px;
   }
}
