.row > * {
   padding-right: calc(var(--bs-gutter-x) * 0.5);
   padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.row {
   --bs-gutter-x: none;
   --bs-gutter-y: none;
}

.card {
   background-color: #313232f3;
   outline: 0;
   border: none;
   transition: all 0.3s;
   width: 250px;
}
.card-body {
   display: none;
}
.card:hover .card-body {
   display: block;
}

.card:hover {
   transform: scale(1.05);
}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
   .card {
      width: 200px;
   }
}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
   .card {
      width: 150px;
   }
}
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   .card {
      width: 100px;
   }
}
